<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="gflags" version="2.1.2.1" targetFramework="Native" />
  <package id="glog" version="0.3.3.0" targetFramework="Native" />
  <package id="lmdb-v120-clean" version="0.9.14.0" targetFramework="Native" />
  <package id="OpenCV" version="2.4.10" targetFramework="Native" />
  <package id="protobuf-v120" version="2.6.1" targetFramework="Native" />
  <package id="protoc_x64" version="2.6.1" targetFramework="Native" />
  <package id="tinyxml2" version="3.0.0" targetFramework="Native" />
  <package id="tinyxml2.redist" version="3.0.0" targetFramework="Native" />
</packages>